{% extends 'Home/base.html' %}
{% load staticfiles %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Home/chatStyle.css' %}"/>
{% endblock %}

{% block body %}

    <div id="pageContent" style="text-align:left !important">
        <div id="channelsPanel" class="panelcontent">

            <h4 style="text-align: center">Channels</h4>
            <div class="list-group table-of-contents">
                <form class="list-group-item" role="search">
                    {% csrf_token %}
                    <div class="form-group" id="searchChannels">
                        <input type="text" class="form-control" placeholder="Search">
                        <button type="submit" class="btn btn-default">Submit</button>
                    </div>
                </form>
                <div class="listContent" style="overflow-scrolling: true">
                    <a href="#" class="list-group-item btn btn-default">Default</a>
                </div>
            </div>
        </div>

        <div class="panel panel-primary panelcontent" id="chatPanel">
            <div class="panel-heading">
                <h3 class="panel-title">{{ channel.name }}</h3>
            </div>
            <div class="Content" id="chatWindow">
                {% for message in messages %}
                    <div style="width: 100%;">
                        {% if message.user.pk == user.pk %}
                            <div class="panel panel-default" style="background-color: lightblue; text-align: right">
                                </p>
                                {{ message.text }} <span class="datetime">{{ message.getTime }}</span>
                                </p>
                            </div>
                        {% else %}
                            <div class="panel panel-default">
                                <p>
                                    {{ message.text }} <span class="datetime">{{ message.getTime }}</span>
                                </p>
                            </div>
                        {% endif %}

                    </div>
                {% endfor %}

            </div>
            <div class="form-group">
                <form id="chatform" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" id="msg" maxlength="500" class="form-control">
                        <span class="input-group-btn">
                    <input type="hidden" id="user" value={{ user.user.username }}>
            <button class="btn btn-default" id="go" type="button">Button</button>
            </span>
                    </div>
                </form>
            </div>
            {#    <form id="chatform" method="post">#}
            {#            {% csrf_token %}#}
            {#            <input id="msg" type="text" name="msg" placeholder="text">#}
            {#            <input type="hidden" id="user" value={{ user.username }}>#}
            {#            <button type="submit" id="go">Say it</button>#}
            {#        </form>#}
        </div>
    </div>

{% endblock body %}

{% block afterbody %}
    <style>
        body {
            display: none;
        }
    </style>
    <script>
        function formatDate(date) {
            var hours = date.getHours();
            var minutes = date.getMinutes();
            var ampm = hours >= 12 ? 'pm' : 'am';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            minutes = minutes < 10 ? '0' + minutes : minutes;
            var strTime = hours + ':' + minutes + ' ' + ampm;
            return date.getDate() + 1 + "/" + date.getMonth() + "/" + date.getFullYear() + "  " + strTime;
        }

        $(document).ready(function () {
            $('.datetime').text(function () {
                var date = new Date(parseInt($(this).text()));
                {#                console.log(formatDate(date));#}
                $(this).text(formatDate(date));
                $('body').fadeIn();
            });
        });


        {#        console.log(new Date($('#datetime span').text()));#}
        {#        console.log($('#datetime span').text());#}

    </script>
    <script type="text/javascript" src='{% static "Home/jquery-1.12.1.min.js" %}'></script>
    <script type="text/javascript" src='{% static "Home/reconnecting-websocket.min.js" %}'></script>
    <script type="text/javascript" src='{% static "Home/chat.js" %}'></script>
{% endblock afterbody %}
