{% extends 'Home/base.html' %}
{% load  staticfiles %}

{% block static %}
    <link rel="stylesheet" type="text/css" href="{% static 'Home/loginStyle.css' %}"/>
{% endblock %}
{% block body %}



    <h1>

    </h1>
    <div id="loginTabs">
        <ul class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab">Login</a></li>
                <li><a href="#profile" data-toggle="tab">Register</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">

            <div class="tab-pane fade active in" id="home">

                <div class="well bs-component">
                    <form class="form-horizontal" method="post" action="">
                        {% csrf_token %}
                        <fielsdset>
                            <div class="form-group">
                                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                                <div class="col-lg-10">
                                    <input type="email" class="form-control" name="username" id="inputEmail"
                                           placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                                <div class="col-lg-10">
                                    <input type="password" class="form-control" id="password"
                                           placeholder="Password" name="password">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Remember me
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button type="reset" class="btn btn-default">Cancel</button>
                                    <button type="submit" name="loginButton" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </fielsdset>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="profile">
                <div class="well bs-component">
                    {% if error_message %}
                        <p><strong>{{ error_message2}}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" action="" method="post" id="registerForm">
                        {% csrf_token %}
                        <fieldset>
                            {% if username_error %}
                                <p><strong style="color: red;">{{ username_error }}</strong></p>
                            {% endif %}
                            <div class="form-group">
                                <label for="inputUsername" class="col-lg-2 control-label">Username</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="inputUsername" name="username"
                                           placeholder="Username">
                                </div>
                            </div>
                            {% if email_error %}
                            <p><strong style="color: red;">{{ email_error }}</strong></p>
                            {% endif %}
                            <div class="form-group">
                                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                                <div class="col-lg-10">
                                    <input type="email" class="form-control" id="inputEmail" name="email"
                                           placeholder="Email">
                                </div>
                            </div>
                            {% if password_error %}
                            <p><strong style="color: red;">{{ password_error }}</strong></p>
                            {% endif %}
                            <div class="form-group">
                                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                                <div class="col-lg-10">
                                    <input type="password" class="form-control" id="inputPassword0"
                                           placeholder="Password" name="password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="col-lg-2 control-label"></label>
                                <div class="col-lg-10">
                                    <input type="password" class="form-control" id="inputPassword1"
                                           placeholder="Re-type password" name="password2">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="col-lg-2 control-label"></label>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button type="submit" name="registerButton" class="btn btn-primary">Register</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>




{% endblock  %}
{% block afterbody %}
    {% if tab2 %}
        <script>
        $('.nav-tabs a[href="#profile"]').tab('show')
        </script>
    {% endif %}
{% endblock %}
