{% extends 'Home/base.html' %}

{#<div class="login-page">#}
{#    <div class="form">#}
{#        <form class="register-form" method="post" >#}
{#            <input type="text" placeholder="name"/>#}
{#            <input type="password" placeholder="password"/>#}
{#            <input type="text" placeholder="email address"/>#}
{#            <button>create</button>#}
{#            <p class="message">Already registered? <a href="#">Sign In</a></p>#}
{#        </form>#}
{#        <form class="login-form">#}
{#            <input type="text" placeholder="username"/>#}
{#            <input type="password" placeholder="password"/>#}
{#            <button>login</button>#}
{#            <p class="message">Not registered? <a href="#">Create an account</a></p>#}
{#        </form>#}
{#    </div>#}
{#</div>  #}
{% block body %}


    <h1>

    </h1>
    <div id="loginTabs">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#home" data-toggle="tab">Login</a></li>
            <li><a href="#profile" data-toggle="tab">Register</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">

            <div class="tab-pane fade active in" id="home">

                <div class="well bs-component">


{#                    <form action="/authentication/" method="post">#}
{#    {% csrf_token %}#}
{#    <ul>#}
{#    <label for="username">Your name: </label>#}
{#    <input id="username" type="text" name="username" value="">#}
{#    </ul>#}
{#    <ul>#}
{#    <label for="password">Your name: </label>#}
{#    <input id="password" type="password" name="password" value="">#}
{#    </ul>#}
{#    <button value="OK" type="sumbit">#}
{#</form>#}


                    <form class="form-horizontal" method="post" action="/authentication/">
                        {% csrf_token %}
                        <fieldset>
                            <div class="form-group">
                                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" name="username" id="inputEmail" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                                <div class="col-lg-10">
                                    <input type="password" class="form-control" id="inputPassword" name="password"
                                           placeholder="Password">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Remember me
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button type="reset" class="btn btn-default">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>


            </div>

            <div class="tab-pane fade" id="profile">
                <div class="well bs-component">
                    <form class="form-horizontal">
                        <fieldset>
                            <div class="form-group">
                                <label for="inputEmail" class="col-lg-2 control-label">Email</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="col-lg-2 control-label">Password</label>
                                <div class="col-lg-10">
                                    <input type="password" class="form-control" id="inputPassword"
                                           placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputPassword" class="col-lg-2 control-label"></label>
                                <div class="col-lg-10">
                                    <input type="password" class="form-control" id="inputPassword"
                                           placeholder="Re-type password">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Game developer
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-2">
                                    <button type="submit" class="btn btn-primary">Register</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>




{% endblock %}
