

.Content {
  height: 600px;
  overflow: auto;
}

body {
  width: 100%;
  text-align: center;
}

#pageContent {
  display: inline-block;
  /*position:absolute;*/
  width: 80%;
  height: 100%;
  display: inline-flex;
}

.panelcontent {
  height: 100%;
  float: left;
}

.panelcontent#channelsPanel{
  width: 20%;
}

.panelcontent#chatPanel {
  width: 80%;
}
#channelsPanel {
  height: 500px;
  overflow-y: auto;
}

#searchChannels {
  width : 100%;
  display: inline-flex;
}

/*selects chat window*/
#chatWindow {
  width: 100%;
  /*display: inline-block;*/
    /*background-color: ;*/
  /*background-color: lightgray;*/
}







