
html, body {
    margin: 0;
    height: 100%;
}

body {
    text-align: center;
}


#chatPanel {
    overflow: hidden;
    /*width: 80%;*/
    height: 100%;
    margin: 0px;

}

#chatWindow {
    /*width: 80%;*/
    overflow: auto;
    height: 92%;
    position: relative;
}

#pageContent {
    display: inline-block;
    width: 80%;
    height: 80%;
}




