
html, body {
    margin: 0;
    height: 100%;
}

body {
    text-align: center;
}

/*#chatPanel {*/
/*overflow: auto;*/
/*}*/

#chatPanel {
    overflow: hidden;
    /*width: 80%;*/
    height: 100%;
    margin: 0px;

}

#chatWindow {
    /*width: 80%;*/
    overflow: auto;
    height: 92%;
    position: relative;
}

#pageContent {
    display: inline-block;
    width: 80%;
    height: 80%;
}

/*#chatPanel {*/
/*overflow: auto;*/
/*}*/

/*.Content {*/
/*background: lightgrey;*/
/*overflow: auto;*/

/*}*/

/*body {*/
/*width: 100%;*/
/*text-align: center;*/
/*}*/

/*#pageContent {*/
/*display: inline-block;*/
/*!*position:absolute;*!*/
/*width: 80%;*/
/*height: 100%;*/
/*display: inline-flex;*/
/*}*/

/*.panelcontent {*/
/*height: 100%;*/
/*float: left;*/
/*}*/

/*.panelcontent#channelsPanel{*/
/*width: 20%;*/
/*}*/

/*.panelcontent#chatPanel {*/
/*width: 80%;*/
/*}*/
/*#channelsPanel {*/
/*height: 500px;*/
/*overflow-y: auto;*/
/*}*/

/*#searchChannels {*/
/*width : 100%;*/
/*display: inline-flex;*/
/*}*/

/*selects chat window*/
/*#chatWindow {*/
/*width: 100%;*/
/*!*display: inline-block;*!*/
/*!*background-color: ;*!*/
/*!*background-color: lightgray;*!*/
/*}*/
#messageForm {

    /*position: relative;*/
    /*bottom: 0px*/
}






